.post-card {
  border-radius: size(20);
  background-color: #fdfdfd;
  box-shadow: 0 5px 9px 1px rgba(153, 204, 204, 0.48);
  padding: size(17);
  height: 100%;
  width: 100%;
}
.project-card {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 1px;
  &:hover {
	.project-card-overlay {
	  background-color: rgba(33, 57, 132, 0);
	  transition: background-color .5s;
	}
  }
}
.first-pro-card {
  .card-div {
	padding: 10%;
  }
  .base-output {
	margin-bottom: 1rem;
	* {
	  color: #ffffff;
	  text-align: center;
	}
  }
}
.project-card-overlay {
  background-color: rgba(33, 57, 132, 0.3);
  width: 100%;
  height: 100%;
  transition: background-color .5s;
}
.cat-card {
  padding: size(12);
}
.min-padding {
  padding: 0 2.5px;
  margin-bottom: 1rem;
}
.post-card-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}
.post-img {
  border-radius: size(10);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: size(16);
  &:after {
	padding-bottom: 62%;
	content: '';
	display: block;
  }
}
.project-img {
  position: relative;
  margin-bottom: 0;
  border-radius: 0;
  display: flex;
  height: 100%;
  &:after {
	padding-bottom: 36.5%;
  }
}
.post-card-title {
  color: $basic-blue;
  font-size: size(24);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(23);
  margin-bottom: size(8);
}
.project-card-title {
  @include base-title;
  text-align: center;
  color: #ffffff;
  margin-bottom: size(20);
}
.post-link {
  @include base-link;
  color: #ffffff;
  background-color: $basic-blue;
  background-image: url("../icons-all/arrow-left-white.png");
  &:hover {
	color: $basic-blue;
	background-image: url("../icons-all/arrow-left.png");
	background-color: $light-blue;
	transition: color, background-image, background-color .5s;
  }
}
.inverse-link {
  @include base-link;
  color: $basic-blue;
  background-color: $light-blue;
  background-image: url("../icons-all/arrow-left.png");
  &:hover {
	color: #ffffff;
	background-image: url("../icons-all/arrow-left-white.png");
	background-color: $basic-blue;
	transition: color, background-image, background-color .5s;
  }
}
.post-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
}
//Benefits
.benefit-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.benefit-icon {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: size(150);
  margin-bottom: size(25);
  background-image: url("../img/circle.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: size(33) size(33) 0 size(33);
  img {
	max-height: 90%;
  }
}
