.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include input-text;
  }
}
div.wpcf7 input[type="text"],
div.wpcf7 input[type="email"],
div.wpcf7 input[type="tel"],
div.wpcf7 textarea {
  @include input-text;
  @include input-style;
}
div.wpcf7 textarea {
  background-image: url("../icons-all/textarea.png");
  height: size(84);
  background-position: calc(100% - 14px) 8px;
}
div.wpcf7 input[type="submit"] {
  font-family: $assistant;
  color: $basic-blue;
  height: size(44);
  padding: 0 5px;
  font-size: size(25);
  text-align: center;
  font-weight: 700;
  background-color: $light-blue;
  background-image: url("../icons-all/arrow-left.png");
  background-size: size(23);
  border-radius: size(20);
  background-repeat: no-repeat;
  background-position: 20% center;
  transition: background-position ease-in-out .5s;
  &:hover {
	background-position: 14% center;
	transition: background-position ease-in-out .5s;
  }
}
div.wpcf7 input[type="text"] {
  background-image: url("../icons-all/form-name.png");
  background-size: size(19);
  background-position: calc(100% - 14px);
}
div.wpcf7 input[type="tel"] {
  background-image: url("../icons-all/form-tel.png");
}
div.wpcf7 input[type="email"] {
  background-image: url("../icons-all/form-mail.png");
}
.dark-submit {
  div.wpcf7 input[type="submit"] {
	color: #ffffff;
	background-color: $basic-blue;
	background-image: url("../icons-all/arrow-left-white.png");
  }
}
//Repeating form
.repeat-form-block {
  position: relative;
  padding-top: size(100);
  background-image: linear-gradient(to top, #a9d2e1 0%, #ffffff 100%);
}
.form-bottom {
  position: absolute;
  width: 100%;
  bottom: -1px;
  right: 0;
}
.form-block-back {
  padding: 0 0 size(150) 0;
  background-image: url("../img/form-back.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
  .logo img {
	max-height: unset;
	max-width: 60%;
  }
}
.contact-page-form {
  div.wpcf7 input, div.wpcf7 textarea {
	border: 1px solid #213984;
  }
}
//Repeat form another
.form-line-none {
  .form-bottom {
	display: none;
  }
  .form-block-back {
	padding-bottom: size(35);
  }
}
