header {
  position: relative;
  padding: size(10) 0;
  z-index: 12345;
  .hamburger {
	padding: 0;
	display: flex;
  }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after,
  .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
	border-radius: 2px;
	background-color: $basic-blue;
  }
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
	max-height: size(59);
  }
}
.drop-menu {
  display: none;
  position: absolute;
  justify-content: flex-start;
  align-items: flex-start;
  padding: size(18) size(30);
  border-radius: 0 0 size(20) size(20);
  background-color: #fdfdfd;
  width: auto;
  z-index: 9999;
  //opacity: 0;
  top: 100%;
  right: 0;
  overflow-y: auto;
  nav {
	width: 100%;
  }
  ul{
	li{
	  display: flex;
	  align-items: baseline;
	  a {
		color: #505050;
		font-size: size(18);
		line-height: size(20);
		font-weight: 700;
		font-style: normal;
		letter-spacing: normal;
		margin-bottom: 0.5rem;
		transition: color .5s;
		&:hover {
		  color: $basic-blue;
		  transition: color .5s;
		}
	  }
	}
  }
  li.menu-item-has-children {
	a:after {
	  content: '>';
	  margin: 0 size(15);
	}
	ul.sub-menu {
	  display: none;
	  margin-right: 1.5rem;
	  a {
		font-weight: 400;
		&:after {
		  content: '';
		}
	  }
	  &.show {
		display: block !important;
	  }
	}
  }
}
.tel-col-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-tel {
  svg {
	width: size(28);
	margin-right: size(18);
	fill: $basic-blue;
	transition: fill .5s;
  }
  &:hover {
	svg, .tel-number {
	  color: $light-blue;
	  fill: $light-blue;
	  transition: all .5s;
	}
  }
}
.tel-number {
  font-size: size(24);
  line-height: size(26);
  font-weight: 700;
  color: $basic-blue;
  text-align: right;
  transition: color .5s;
}



//Popup
.pop-form {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity .5s;
  &.show-popup {
	opacity: 1;
	pointer-events: all;
	transition: opacity .5s;
  }
}
.curr-body-hidden {
  overflow: hidden;
}
.float-form {
  position: relative;
  width: calc(100% - 10px);
  max-height: 95vh;
  transition: all .5s;
  z-index: 99999999999;
  transform: translateY(-100%);
  overflow-y: auto;
  opacity: 0;
  &.show-float-form{
	opacity: 1;
	transform: translateY(0);
  }
}
.styled-form {
  box-shadow: 0 5px 9px 1px rgba(153, 204, 204, 0.48);
  border-radius: 20px;
  border: 1px solid #a9d2e1;
  background-color: #fdfdfd;
  padding: 5% 7% 10% 7%;
  div.wpcf7 input {
	border: 1px solid $basic-blue;
  }
}
.close-form {
  position: absolute;
  right: size(23);
  top: size(16);
  cursor: pointer;
  img {
	width: size(20);
  }
}
.fixed-triggers {
  position: fixed;
  left: 0;
  top: 15%;
  z-index: 2333;
}
.trigger-back {
  border-radius: 0 size(20) size(20) 0;
  background-color: $basic-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: size(90);
  height: size(90);
  padding: size(10);
  cursor: pointer;
}
.whatsapp-fix {
  margin-bottom: size(12);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  img {
	width: size(66);
  }
}



////Footer
#go-top {
  position: absolute;
  right: 2rem;
  top: -4rem;
  display: flex;
  z-index: 9999;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: size(76);
  cursor: pointer;
  background-image: url("../icons-all/to-top-back.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 85%;
  padding-top: 1.5rem;
  img {
	height: size(25);
	margin-bottom: 0;
	animation: jump-top 1.2s ease-in-out alternate infinite;
	z-index: 9;
  }
}
.to-top-text {
  font-size: size(18);
  font-weight: 700;
  line-height: size(20);
  color: $light-blue;
  text-align: center;
}
//Footer
.footer-main {
  position: relative;
  padding: size(180) 0 0 0;
  background-color: $basic-blue;
  background-image: url("../img/footer-back.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  margin-top: 3rem;
}
.footer-line {
  position: absolute;
  bottom: calc(100% - 1.4rem);
  right: 0;
  width: 100%;
  height: 3rem;
}
.footer-grad-back {
  position: relative;
  padding-bottom: size(40);
  background-image: linear-gradient(to bottom, rgba(33, 57, 132, 0) 0%, #213984 44%, #213984 48%);
  background-position: bottom center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.foo-menu {
  padding-top: 1rem;
}
.foo-form-row {
  position: relative;
  justify-content: center;
  align-items: flex-end;
}
.foo-title {
  color: #ffffff;
  font-size: size(23);
  font-weight: 400;
  line-height: size(26);
  text-align: right;
  margin-bottom: size(28);
}
.facebook-widget {
  overflow-x: hidden;
}
.hop-hey.two-columns {
  column-count: 2;
  column-gap: 2rem;
}
footer {
  position: relative;
  li {
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
	break-inside: avoid-column;
	position: relative;
	border-bottom: 1px solid #ffffff;
	margin-bottom: size(10);
	padding-right: 10px;
	&:before {
	  position: absolute;
	  top: 8px;
	  right: 0;
	  content: '';
	  width: 3px;
	  height: 5px;
	  display: inline-block;
	  border: 3px solid transparent;
	  border-right: 3px solid #fff;
	}
	a {
	  font-family: $assistant;
	  font-size: size(17);
	  line-height: size(18);
	  font-weight: 400;
	  margin-bottom: 10px;
	  color: #ffffff;
	}
	a:hover {
	  color: $light-blue;
	  cursor: pointer;
	  transition: all .5s;
	}
  }
  .contact-list li {
	border-bottom: none;
	padding-right: 0;
	a {
	  display: flex;
	  align-items: center;
	  margin-bottom: 5px;
	}
	&:before {
	  display: none;
	}
	img {
	  margin-left: 5px;
	}
  }
}
.foo-form-block {
  margin-bottom: size(105);
  .form-title {
	color: $light-blue;
  }
  .logo img {
	max-height: size(160);
  }
}
.header-file {
  display: none;
}
