/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}

@media (max-width: 1600px) {
  .trigger-back {
	width: size(50);
	height: size(50);
  }
  .whatsapp-fix {
	img {
	  width: size(36);
	}
  }
  .footer-main {
	padding-top: size(90);
  }
  .foo-form-block {
	margin-bottom: size(70);
  }
}
@media (min-width: 1600px) {
  .container {
	max-width: 78%;
  }
  .logo {
	img {
	  max-height: size(89);
	}
  }
  html{
	font-size: 20px;
  }
}
//Bootstrap 4 breakpoints

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 19px;
  }
  header {
	.container {
	  width: 100%;
	}
  }
  .reverse-slider {
	.slider-col-content {
	  padding-left: 5%;
	}
  }
  .slider-col-content {
	padding-right: 5%;
  }
  .sidebar-wrap {
	.menu-item {
	  a {
		font-size: size(17);
		line-height: size(20);
	  }
	}
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 18px;
  }
  .hop-hey.two-columns {
	column-count: 1;
	column-gap: unset;
  }
  .foo-form-block {
	.logo img {
	  max-height: size(100);
	}
  }
  .benefit-icon {
	height: size(100);
	padding: size(13) size(13) 0 size(13);
	img {
	  max-height: 90%;
	}
  }
  .middle-title {
	font-size: size(24);
	line-height: size(25);
  }
  .project-img {
	&:after {
	  padding-bottom: 56.5%;
	}
  }
  .project-card-title, .project-card .base-output h2 {
	font-size: size(30);
	line-height: size(26);
  }
  .base-slider-block {
	flex-wrap: wrap;
  }
  .slider-img-col {
	flex: 0 0 90%;
	max-width: 90%;
	margin-top: 4rem;
  }
  .slider-col-content {
	padding-left: 5% !important;
	padding-right: 15px !important;
  }
  .contact-col {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	flex-direction: row;
  }
  .contact-item {
	flex: 0 0 50%;
	max-width: 50%;
  }
  .sticky-form {
	margin-top: 2rem;
  }
  .change-img {
	flex: 0 0 calc(50% - 2px);
	max-width: calc(50% - 2px);
  }
  header .container {
	max-width: 97%;
  }
  .cats-list {
	.container {
	  max-width: 95%;
	}
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 17px;
  }
  .hop-hey.two-columns {
	column-count: 2;
	column-gap: 2rem;
  }
  #go-top {
	right: 0;
	top: -5rem;
  }
  .logo-col {
	order: -1;
	margin-bottom: 1rem;
  }
  .benefit-col {
	margin-bottom: 2rem !important;
  }
  .contact-col {
	flex-direction: column;
	justify-content: center;
  }
  .contact-item {
	flex: 0 0 100%;
	max-width: 100%;
  }
  .order-first-point {
	order: -1;
	margin-bottom: 2rem;
  }
  .change-img {
	flex: 0 0 calc(33.3% - 2px);
	max-width: calc(33.3% - 2px);
  }
  .cats-col-menu {
	margin-bottom: 2rem;
  }
}
//Mobile starts here
@media (max-width: 650px) {
  .project-card {
	flex: 0 0 100%;
	max-width: 100%;
	padding: 2px 0;
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 16px;
  }
  .header-tel {
	position: fixed;
	left: 1rem;
	bottom: 1rem;
	border-radius: 50%;
	width: 2.5rem;
	height: 2.5rem;
	z-index: 33333;
	margin: 0;
	padding: size(10);
	background-color: $basic-blue;
	animation: jump 1.2s ease-in-out alternate infinite;
	svg {
	  z-index: 9;
	  width: 2rem;
	  margin: 0;
	  transform: scale(1, -1);
	  animation: rotating 1.2s ease-in-out alternate infinite;
	  * {
		fill: #ffffff;
	  }
	}
	.tel-number {
	  display: none;
	}
  }
  .footer-line {
	bottom: calc(100% - 1rem);
	height: 2rem;
  }
  .pop-form {
	.form-title {
	  font-size: size(35);
	  line-height: size(30);
	}
	.form-text {
	  font-size: size(28);
	  line-height: size(30);
	}
  }
  .sticky-form {
	div.wpcf7 input[type="submit"] {
	  background-position: 8% center;
	  &:hover {
		background-position: 2% center;
	  }
	}
  }
  .hidden-file {
	display: none;
  }
  .header-file {
	display: flex;
  }
}







/*
::::: Custom media queries :::::
*/

@media (max-width: 450px) {
  div.wpcf7 input[type="submit"] {
	background-size: size(18);
	background-position: 10% center;
	transition: background-position ease-in-out .5s;
	&:hover {
	  background-position: 5% center;
	  transition: background-position ease-in-out .5s;
	}
  }
  .hop-hey.two-columns {
	column-count: 1;
	column-gap: unset;
  }
  .pop-form {
	.form-title {
	  font-size: size(30);
	  line-height: size(30);
	}
	.form-text {
	  font-size: size(24);
	  line-height: size(22);
	}
  }
  .benefit-icon {
	height: size(80);
	padding: size(13) size(13) 0 size(13);
	img {
	  max-height: 70%;
	}
  }
  .middle-title {
	font-size: size(20);
	line-height: size(22);
  }
  .contact-icon-wrap {
	width: size(45);
	min-width: size(45);
	height: size(45);
	padding: size(8);
	margin-left: size(15);
  }
  .header-file {
	font-size: size(10);
	line-height: size(12);
	background-size: size(10);
	padding: 5px size(6) 5px size(22);
	background-position: size(6) center;
	&:hover {
	  background-position: size(6) 5px;
	}
  }
}
