@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "animate";
@import "forms";
@import "header-footer";
@import "cards";

body{
  font-family: $font-family;
  text-align: right;
}
.wow {
  visibility: hidden;
}

#MainNav{
  ul{
    display: flex;
    height: 100%;
    li{
      height: 85%;
      a{

      }
    }
  }
}
//Basic styles
.block-title {
  @include base-title;
  color: $basic-blue;
  text-align: center;
  margin-bottom: size(40);
}
.base-text {
  @include base-text;
}
.form-title {
  font-size: size(41);
  line-height: size(40);
  font-weight: 700;
  text-align: center;
  color: $basic-blue;
  margin-bottom: size(5);
}
.form-text {
  font-size: size(34);
  color: $basic-blue;
  line-height: size(30);
  font-weight: 400;
  text-align: center;
  margin-bottom: size(23);
}
.middle-title {
  font-size: size(30);
  color: $basic-blue;
  line-height: size(30);
  font-weight: 700;
  text-align: center;
}
.white-text {
  color: #ffffff !important;
}
.transparent-link {
  @include base-link;
  padding: 0 size(21) 0 size(30);
  background-image: url("../icons-all/arrow-left.png");
  background-position: 10px center;
  color: $basic-blue;
  transition: background-position .5s;
  &:hover {
	color: $basic-blue;
	background-position: 3px center;
	transition: background-position .5s;
  }
}
.base-output {
  p, li {
	@include base-text;
	color: $text;
  }
  h1, h2, h3, h4, h5, h6 {
	color: #333399;
	font-weight: 700;
	margin-bottom: size(10);
  }
  h1, h2 {
	font-size: size(36);
	line-height: size(36);
  }
  h3 {
	font-size: size(36);
	line-height: size(36);
  }
  h4 {
	font-size: size(30);
	line-height: size(30);
  }
  h5 {
	font-size: size(26);
	line-height: size(26);
  }
  h6 {
	font-size: size(22);
	line-height: size(24);
  }
  li {
	list-style: disc;
	margin-right: 1rem;
  }
}
.base-post-output {
  p, li {
	font-size: size(24);
	line-height: size(28);
  }
  p {
	margin-bottom: size(20);
  }
  h2, h3, h4, h5, h6 {
	color: #333333;
	font-weight: 700;
	margin-bottom: size(20);
  }
  h3 {
	font-size: size(30);
	line-height: size(36);
  }
  h4 {
	font-size: size(27);
	line-height: size(29);
  }
  h5 {
	font-size: size(25);
	line-height: size(26);
  }
  h6 {
	font-size: size(24);
	line-height: size(24);
  }
}


//homepage
.home-main {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/home-back-base.png");
}
.bottom-line {
  position: absolute;
  bottom: -5px;
  width: 100%;
  right: 0;
}
.home-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: size(150) 0;
  background-image: url("../img/home-overlay.png");
  background-position: right center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: size(500);
}
.posts-output {
  padding: size(100) 0;
}
.home-about-block {
  margin: size(80) 0;
  .base-output {
	p, li {
	  color: #262626;
	  font-size: size(22);
	  line-height: size(30);
	}
	li {
	  margin-right: 1rem;
	  list-style: disc;
	}
  }
}
.why-us-block {
  padding: size(80) 0 size(130) 0;
  background-image: url("../img/why-back.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100%;
}
//Projects
.projects-output {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}
//Slider styles
.arrows-slider {
  margin-top: size(80);
  margin-bottom: size(80);
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	z-index: 33;
	top: unset;
	width: size(25);
	height: size(25);
	bottom: -3rem;
  }
  [dir="rtl"] .slick-next {
	left: 0;
  }
  [dir="rtl"] .slick-prev {
	right: 0;
  }
  .slick-prev:before, .slick-next:before{
	color: transparent;
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../icons-all/arrow-right.png");
  }
  [dir="rtl"] .slick-next {
	background-image: url("../icons-all/arrow-left.png");
  }
  .base-output p {
	line-height: size(32);
  }
}
.reverse-slider {
  .base-slider-block {
	justify-content: flex-end;
	flex-direction: row;
  }
  .slider-img-col {
	justify-content: flex-end;
  }
  .slider-col-content {
	padding-left: 10%;
	padding-right: 15px;
  }
}
.base-slider-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row-reverse;
}
.slider-img-col {
  flex: 0 0 45%;
  max-width: 45%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.slider-col-max {
  flex: 90%;
  max-width: 90%;
}
.slider-col-content {
  padding-right: 10%;
}
//Page contact
.page-body {
  padding-top: size(50);
  background-image: url("../img/page-back.png");
  background-position: top center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.body-back {
  padding-top: size(70);
  padding-bottom: size(120);
}
.map-image {
  img {
	width: 100%;
  }
}
.contact-type {
  font-size: size(24);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(26);
  color: $basic-blue;
  transition: color .5s;
  &:hover {
	color: $light-blue;
	transition: color .5s;
  }
}
.contact-type-title {
  color: #212120;
}
.contact-item {
  display: flex;
  margin: size(30) 0;
}
.contact-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.contact-icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: size(65);
  min-width: size(45);
  height: size(65);
  background-color: $basic-blue;
  padding: size(14);
  margin-left: size(35);
  img {
	max-width: 95%;
	max-height: 95%;
  }
}
//Projects page
article.article-page-body > * + * {
  margin-top: 0;
}
.more-link {
  cursor: pointer;
  margin-top: size(35);
  background-image: url("../icons-all/bottom-link.png");
  background-size: size(13);
  &.hide-more {
	display: none;
  }
  &:hover {
	background-image: url("../icons-all/bottom-link.png");
  }
}
.download-link {
  min-height: size(32);
  background-image: url("../icons-all/save.png");
  background-size: size(17);
  background-position: size(14) center;
  transition: background-position .5s;
  line-height: size(19);
  &:hover {
	background-image: url("../icons-all/save.png");
	background-color: $basic-blue;
	color: #ffffff;
	background-position: size(14) 5px;
	transition: background-position .5s;
  }
}
.padding-no {
  .posts-output {
	padding: 0;
  }
}
//Page of post
.post-page-form {
  border: none;
}
.sticky-form {
  position: sticky;
  top: 0;
  z-index: 999;
  height: 100%;
  div.wpcf7 input[type="submit"] {
	background-position: 12% center;
	&:hover {
	  background-position: 4% center;
	}
  }
}
.main-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $basic-blue;
  border-radius: 5px;
  background-color: #ffffff;
  img {
	max-height: 100%;
  }
  &:after {
	content: '';
	padding-bottom: 80%;
	display: block;
  }
}
.pictures-single {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  flex-wrap: wrap;
}
.change-img {
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid $basic-blue;
  flex: 0 0 calc(33.3% - 2px);
  max-width: calc(33.3% - 2px);
  margin: 2px 1px;
  border-radius: 5px;
  &:after {
	content: '';
	padding-bottom: 69%;
	display: block;
  }
}
.header-file {
  display: none;
}
.link-post-save {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  img {
	margin-left: size(11);
	width: size(33);
  }
  span {
	font-size: size(24);
	line-height: size(24);
	color: $basic-blue;
	transition: color .5s;
  }
  &:hover span {
	color: $text;
	font-weight: 700;
	transition: color .5s;
  }
}
.cats-list {
  .post-img {
	border: 1px solid $basic-blue;
  }
}
.form-line-none {
  margin-bottom: -3rem;
}
//Sidebar styles
.sidebar-wrap {
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 9px 1px rgba(153, 204, 204, 0.48);
  border-radius: size(20);
  border: 1px solid #a9d2e1;
  background-color: #fdfdfd;
  padding: size(30) size(15) !important;
  .menu-item {
	min-height: size(50);
	padding: 8px 0;
	border-radius: size(25) size(10) size(10) size(25);
	background-color: #363636;
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: size(8);
	a {
	  color: #ffffff;
	  font-size: size(24);
	  font-weight: 700;
	  line-height: size(26);
	  padding: 0 size(10) 0 size(20);
	}
  }
  .current-project_cat-ancestor, .current-menu-item {
	background-color: $basic-blue !important;
  }
}
.cats-col-menu {
  position: sticky;
  top: 0;
  height: 100%;
}

@import "responsive";
